<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop Admin Dashboard</title>
</head>
<body>
    <h1>Shop Admin dashboard page</h1>
    <h1>Your shop: {{ shop_obj.shop_name }}</h1>
    <table border="1">
        <tr >
            <th>Product_id</th>
            <th>Product_unique_id</th>
            <th>Category</th>
            <th>Name</th>
            <!-- <th>Stock Availability</th> -->
             <th>Image</th>
        </tr>
        {%if shop_obj.products.all %}
            {% for product in shop_obj.products.all %}
            <tr>
                <td>{{ product.product_id }}</td>
                <td>{{ product.product_unique_id }}</td>
                <td>{{ product.category }}</td>
                <td>{{ product.name }}</td>
                <!-- <td>{{ product.stock_quantity }}</td> -->
                <td>
                    <img src="{{ product.image.url }}" alt="{{ product.name }}" width="100" height="100">
                </td>
            </tr>
            {%endfor%}
        {%else%}
            <tr>
                <td colspan="5">No products added right now</td>
            </tr>
        {%endif%}
    </table>
    <h3><a href="{% url 'shopAdminProductAdd' sa_obj.admin_id%}">Click here</a> to add products to your inventory</h3>
</body>
</html>