<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebApp Admin Dashboard page</title>
</head>
<body>
    <h1>Welcome, Regional Admin {{ appAdmin.name }}</h1>
    <h2>Your Region: {{ appAdmin.get_district_display }}</h2>
    <h2>Your unique Id: {{ appAdmin.unique_id }}</h2>

    <h3>Existing shops in your region</h3>
    <table border="1" cellpadding="5" cellspacing="0">
    <tr>
        <th>Shop Id</th>
        <th>Shop Name</th>
        <th>Admin Name</th>
    </tr>
    {% for shop in shops %}
        <tr>
            <td>{{ shop.shop_unique_id }}</td>
            <td>{{ shop.shop_name }}</td>
            <td>
                {% if shop.admin %}
                    {{ shop.admin.admin_name }}
                {% else %}
                    No admin
                {% endif %}
            </td>
        </tr>
    {% empty %}
        <tr>
            <td colspan="3">No shops found in this region</td>
        </tr>
    {% endfor %}
    </table>

    {% if messages %}
    {% for message in messages %}
        {{message }}
    {%endfor%}
    {%endif%}

    <h3>Add a new shop client in your region: </h3>
    <form method="POST" action="{%url 'shopCreation' %}">
        {% csrf_token %}
        <input type="hidden" name="unique_id" value="{{ appAdmin.unique_id }}">
        <label>Shop name: </label>
        <input type="text" id="shop_name" name="shop_name" required> <br><br>
        <label>Enter the address of the shop</label>
        <textarea id="shop_address" name="shop_address" rows="7" cols="50" placeholder="Enter full address"></textarea> <br><br>
        <button type="submit">Add shop</button>

    </form>
</body>
</html>