<!DOCTYPE html>
<html>
    <head>
        <title>Role Selection</title>
        <meta charstet = "UTF-8">
        <meta content="viewport" width="device-width,initial-scale=1.0">

    </head>
    <body>
        <button onclick="location.href='{% url "waaLogin" %}'">Regional Admin</button> <!-- Here onclick="location.href='{% url "waaLogin" %}'" - here location.href is a js feature that says replace the current url of the webpage's address bar to the give url,which renders the web app admin login age-->
        <button>Shop Admin</button>
        <button>Customer</button>
    </body>
</html>